---
  const personalImageAlt = "Abraham Urrutia"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is <strong>Abraham Urrutia</strong
      >.
    </p>

    <p>
      Worked as a web programmer in a Mexican company called "ComputerForms", in which I developed an application of logs and machines of the company with their characteristics, manuals and comments, this application also has a QR generator to print and paste them on the machines and thus be able to access all the information of the machine, requires a login for internal security of the company.
    </p>

    <p>
      I have a passion for learning new things and I am always looking for new projects to work on. I learn relatively quickly, but when I learn to do something I strive to be the best at what I do.
    </p>

    <p>
      Recently relocated to Texas from Guadalajara, Mexico, where I was completing my studies. I am currently working towards earning my university degree.
    </p>
  </div>

  <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%"> -->

</article>