---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: 'Currently...',
    title: 'Freelancer',
    description: 'I am currently working on a web application for a crane company in which they can keep track of customers and employees, as well as the location of the operators.',
  },
  {
    date: 'August - December 2023',
    title: 'Software Engineer Internship at ComputerForms MX',
    description: "Design and development of an internal application for thecompany, implementing a proprietary authenticationsystem, user registration, and the ability to enter andmanage information from the company's machines. Inaddition, functions were incorporated for the creation ofindividual logs for each machine, as well as the generationof QR codes with specific details of each one.",
  },
  {
    date: 'May - September 2023',
    title: 'Internship intern at PLAi',
    description: 'Development of a static web page to show the mainDirectory and the whole teams',
    link: 'https://plai.mx/directorio'
  },
  {
    date: 'May - September 2023',
    title: 'Internship intern at PLAi',
    description: 'Development of a static web page to show the mainDirectory and the whole teams',
  },
  {
    date: '2022 - 2023',
    title: 'Social Service Provider',
    description: 'Development of a web application to help in the efficientmanagement of resources: Formats, Files, Tasks, etc. Toearn certifications for a career. Simpler and moresystematic way.',
  },
]
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map(experience => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
